<!--{% extends 'base.html' %}

{% block header %}
<div id="wrapper" class="fade-in">-->
    <!-- Intro -->
    <!--<div id="intro">
  <h1>{% block title %}Your Open-Source<br />
        Air Cloud{% endblock %}</h1>
  {% if g.user %}
    <a class = "action" href="/create">Create a new post</a>
  {% endif %}
</div>
</div>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
          <header>
              <div>
          <h1>{{ post[3] }}</h1>
          <div class = "about">by {{ post[0] }} on {{ post[2].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user[1] == post[0] %}
        <a class = "action" href="{{ url_for('update', id=post[1]) }}">Edit</a>
        {% endif %}
      </header>
      <p class = "body">{{ post[4] }}</p>
    {% if not loop.last %}
    </article>
        {% if not loop.last %}
      <hr>
    {% endif %}
      <hr>
    {% endif %}
  {% endfor %}
% endblock %-->
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>More Information</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="icon" type="image/icon" href="../static/images/logo.ico" />
		<noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<div id="header1">
			<div class="logo1">
			  <img src="../static/images/AirCloud.png" alt="logo" class="air-cloud" />
			</div>
			<div class="fill"></div>
			<div class="links2">
			  <!--
			  <div>Data</div>
				<div>Data</div>
			  <div>Data</div>-->
			  <div class="l1"><a href="/index">Home</a></div>
			  <div class="l2"><a href="/create">Project</a></div>
			  <!--
			  <div class="dropdown">
				<a class="dropbtn">Project</a>
				<div class="dropdown-content">
				  <a href="#">Link 1</a>
				  <a href="#">Link 2</a>
				  <a href="#">Link 3</a>
				</div>
			  </div>
			  -->
			  <!--<div class="l3">Map Gallery</div>-->
			  <div class="l4"><a href="/generic">More Info</a></div>
			<div class="login">
			{% if g.user %}
				  Welcome {{ g.user[1] }}!
				  <ul>
				  <li><a href="/logout">Log Out</a></li>
				  </ul>
				{% else %}
				<!--<li><a href="/register">Register</a>-->
					<a class="logina"href="login">Log In</a>
				{% endif %}
			
			</div>
			</div>
		  </div>
		  
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<!--<a href="../templates/index.html" class="logo">Massively</a>-->
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="/generic">General Idea</a></li>
							<li><a href="../templates/index.html">Data</a></li>
							<li><a href="/generic">About Us</a></li>
						</ul>
						<ul class="icons">
							<!--<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
							<li><a href="https://github.com/Rkomi98/S4GEO" target="_blank" rel="noopener noreferrer" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<section class="post">
								<header class="major">
									<span class="date">April 25, 2017</span>
									<h1>This is a<br />
									Generic Page</h1>
									<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
									facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
									amet nullam sed etiam veroeros.</p>
								</header>
								<div class="image main"><img src="images/pic01.jpg" alt="" /></div>
								<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum sit amet, fergiat. Pellentesque in mi eu massa lacinia malesuada et a elit. Donec urna ex, lacinia in purus ac, pretium pulvinar mauris. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur sapien risus, commodo eget turpis at, elementum convallis enim turpis, lorem ipsum dolor sit amet nullam.</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dapibus rutrum facilisis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam tristique libero eu nibh porttitor fermentum. Nullam venenatis erat id vehicula viverra. Nunc ultrices eros ut ultricies condimentum. Mauris risus lacus, blandit sit amet venenatis non, bibendum vitae dolor. Nunc lorem mauris, fringilla in aliquam at, euismod in lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In non lorem sit amet elit placerat maximus. Pellentesque aliquam maximus risus. Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis. Praesent rutrum sem diam, vitae egestas enim auctor sit amet. Pellentesque leo mauris, consectetur id ipsum.</p>
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="#">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>1234 Somewhere Road #87257<br />
								Nashville, TN 00000-0000</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(000) 000-0000</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">info@untitled.tld</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>